# Задание

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv')
data.drop(0, inplace=True)

C:\Users\evpet\AppData\Local\Temp\ipykernel_1548\1197156356.py:1: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv')

## Task 1

Узнай самый часто встречаемый возраст респондентов

In [3]:
print('самый часто встречаемый возраст респондентов:', data['Q2'].value_counts().idxmax())

самый часто встречаемый возраст респондентов: 18-21

## Task 2

Посчитай долю женщин среди русских участников опроса, которые уже не студенты. Результат округли до двух цифр после запятой

In [4]:
print('доля женщин среди русских участников опроса, которые уже не студенты:', round(len(data[
    data['Q3'].str.contains('Woman') &
    data['Q4'].str.contains('Russia') &
    data['Q5'].str.contains('No')
]) / len(data[
    data['Q4'].str.contains('Russia') &
    data['Q5'].str.contains('No')
]), 2))

доля женщин среди русских участников опроса, которые уже не студенты: 0.24

## Task 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до двух знаков после запятой

In [5]:
data['Duration (in seconds)'] = data['Duration (in seconds)'].astype(int)
print('среднее время заполнения опроса: %s минут' % round(data['Duration (in seconds)'].mean() / 60, 2))

среднее время заполнения опроса: 168.17 минут

## Task 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [6]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
platforms = data[q6_columns].melt(var_name='вопрос', value_vars=q6_columns)
platforms['value'].value_counts().iloc[:3]

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

## Task 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [7]:
ds = data[
    data['Q23'].str.contains('Data Scientist', na=False) 
]
q12_columns = [col for col in ds.columns if col.startswith('Q12')]
platforms = ds[q12_columns].melt(var_name='вопрос', value_vars=q12_columns)
platforms['value'].value_counts().iloc[:5]

Python        1808
SQL           1140
R              530
Bash           248
Javascript     187
Name: value, dtype: int64

## Task 6

Узнай средний доход среди 'Data Scientist' специалистов и средний доход среди 'Machine Learning/ MLops Engineer' \
Т.к. в колонке Q29 указан промежуток, то возьми среднее значение из промежутка. 

Например: 
- '15,000-19,999' - 17500, 
- '125,000-149,999' - 137500. 
- \> $1,000,000 - оставляем 1000000

Средние доход **округли до целого.**

In [8]:
d = data[
    data['Q23'].str.contains('Data Scientist') |
    data['Q23'].str.contains('Machine Learning/ MLops Engineer')
]
s = {
    '$0-999': 500, '10,000-14,999': 12500, '30,000-39,999': 35000, '1,000-1,999': 1500, '40,000-49,999': 45000, 
    '100,000-124,999': 112500, '5,000-7,499': 6250, '50,000-59,999': 55000, '7,500-9,999': 8750, '150,000-199,999': 175000,
    '20,000-24,999': 22500, '60,000-69,999': 65000, '15,000-19,999': 17500, '70,000-79,999': 75000, '25,000-29,999': 27500,
    '2,000-2,999': 2500, '125,000-149,999': 137500, '3,000-3,999': 3500, '4,000-4,999': 4500, '80,000-89,999': 85000, 
    '90,000-99,999': 95000, '200,000-249,999': 225000, '250,000-299,999': 275000, '300,000-499,999': 400000, 
    '$500,000-999,999': 750000, '>$1,000,000': 1000000                  
}
data['Q29-NEW'] = data['Q29'].map(s)
ss = data[['Q23', 'Q29-NEW']].dropna()
av = round(ss.groupby(['Q23']).mean().sort_values('Q29-NEW', ascending=False))
print('средняя зарплата Data Scientist:', av.iloc[4])
print('средняя зарплата Machine Learning/ MLops Engineer:', av.iloc[5])

средняя зарплата Data Scientist: Q29-NEW    70337.0
Name: Data Scientist, dtype: float64
средняя зарплата Machine Learning/ MLops Engineer: Q29-NEW    67438.0
Name: Machine Learning/ MLops Engineer, dtype: float64

## Дополнительно

Найди какой-нибудь интересный инсайт из этих данных. Пиши свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [9]:
q44_columns = [col for col in data.columns if col.startswith('Q44')]
platforms = data[q44_columns].melt(var_name='вопрос', value_vars=q44_columns)
platforms['value'].value_counts().iloc[:10]

YouTube (Kaggle YouTube, Cloud AI Adventures, etc)                            11957
Kaggle (notebooks, forums, etc)                                               11181
Blogs (Towards Data Science, Analytics Vidhya, etc)                            7766
Course Forums (forums.fast.ai, Coursera forums, etc)                           4006
Twitter (data science influencers)                                             3995
Journal Publications (peer-reviewed journals, conference proceedings, etc)     3804
Email newsletters (Data Elixir, O'Reilly Data & AI, etc)                       3787
Reddit (r/machinelearning, etc)                                                2678
Podcasts (Chai Time Data Science, O’Reilly Data Show, etc)                     2120
Slack Communities (ods.ai, kagglenoobs, etc)                                   1726
Name: value, dtype: int64